@keyframes ldio-fz12uwmsvs {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}

.ldio-fz12uwmsvs div {
    position: absolute;
    border-width: 10px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-fz12uwmsvs 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-fz12uwmsvs div:nth-child(1) {
    border-color: var(--highlight)
}

.ldio-fz12uwmsvs div:nth-child(2) {
    border-color: var(--secondary);
    animation-delay: -0.5s;
}

.loadingio-spinner-ripple-woha8w4fq9d {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg);
}

.ldio-fz12uwmsvs {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-fz12uwmsvs div {
    box-sizing: content-box;
}